@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  @apply flex px-4 md:px-6 py-6 bg-blue-500 text-white items-center;
}

body {
  @apply bg-gray-100 antialiased;
}

footer {
  @apply px-4 md:px-6 py-3 bg-slate-600 text-white;
}